<!DOCTYPE html>

<html lang="en" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <title>guardlogin.html : /home/DarkWebArtists/mysite/templates/guardlogin.html : Editor : DarkWebArtists : PythonAnywhere</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="guardlogin.html : /home/DarkWebArtists/mysite/templates/guardlogin.html : Editor : DarkWebArtists : PythonAnywhere">
        <meta name="author" content="PythonAnywhere LLP">
        <meta name="google-site-verification" content="O4UxDrfcHjC44jybs2vajc1GgRkTKCTRgVzeV6I9V14" />


        <!-- Le styles -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" />

        <link rel="stylesheet" href="/static/CACHE/css/output.3f112779191e.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="/static/CACHE/css/output.c184c0fc7128.css" type="text/css" /><link rel="stylesheet" href="/static/CACHE/css/output.0c8ec343b215.css" type="text/css" media="screen" />

        <!-- Le javascript -->
        <script type="text/javascript">
            var Anywhere = {};
            Anywhere.urls = {};
            Anywhere.csrfToken = "cBm3gJu1FyA6FppwxbgSmZ38KKZXydOV30L5NBSyeluajYUXJIUX8glkjl69I42o";
        </script>
        <script type="text/javascript" src="/static/CACHE/js/output.2cfbe82d52cd.js"></script>
        

        <script type="text/javascript" src="/static/CACHE/js/output.8101216a231e.js"></script>
        
    <script type="text/javascript">
      $(document).ready(function() {
        $.extend(Anywhere.urls, {
          file: "/user/DarkWebArtists/files/home/DarkWebArtists/mysite/templates/guardlogin.html",
          check_hash: "/user/DarkWebArtists/files/home/DarkWebArtists/mysite/templates/guardlogin.html",
          update_editor_mode_preference: "/user/DarkWebArtists/account/update_editor_mode_preference",
          console_api: "/api/v0/user/DarkWebArtists/consoles/",
        });
        var filename = "/home/DarkWebArtists/mysite/templates/guardlogin.html";
        var hash = "ff6afe3f2a0e4d02978b358032e4ef32";
        var interpreter = "None";

        
            Anywhere.Editor.InitializeAce(ace, Anywhere.urls, filename, hash, interpreter, "pythonanywhere.com");
            $("#id_keybinding_mode_select").val("normal");
            $("#id_keybinding_mode_select").trigger("change");
        
        var consoleVisible = false;
        Anywhere.Editor.splitPanes(consoleVisible);

        Anywhere.WebAppControl.initialize();
        Anywhere2.initializeFileSharingOptions(
          $('#id_file_sharing_options')[0],
          {
            url: "/api/v0/user/DarkWebArtists/files/sharing/",
            csrfToken: "cBm3gJu1FyA6FppwxbgSmZ38KKZXydOV30L5NBSyeluajYUXJIUX8glkjl69I42o",
            path: "/home/DarkWebArtists/mysite/templates/guardlogin.html"
          }
        );

      });
    </script>

        

    </head>

     <body style="height:100%;">
       <div style="min-height: 100%; position: relative;">
        
        
  




  <nav class="navbar navbar-default fullscreen-main-navbar">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img id="id_logo" src="/static/anywhere/images/PA-logo-snake-only.svg" height="100%" />
      </a>
    </div>

    <div class="extra-nav-content">
      

  <div id="id_editor_toolbar">

    <div class="pull-left">
      <span id="id_breadcrumbs_div"><a class="breadcrumbs_link breadcrumb_entry" href="/user/DarkWebArtists/files/">/</a><a class="breadcrumbs_link breadcrumb_entry" href="/user/DarkWebArtists/files/home">home</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/DarkWebArtists/files/home/DarkWebArtists">DarkWebArtists</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/DarkWebArtists/files/home/DarkWebArtists/mysite">mysite</a><span class="breadcrumb_entry">/</span><a class="breadcrumbs_link breadcrumb_entry" href="/user/DarkWebArtists/files/home/DarkWebArtists/mysite/templates">templates</a><span class="breadcrumb_entry">/</span><wbr><span class="breadcrumb_entry breadcrumb_terminal">guardlogin.html</span></span>

      <span>
        <span id="id_unsaved_changes_spacer">
          <span id="id_unsaved_changes" class="pa_hidden muted">(unsaved changes)</span>
        </span>
      </span>
    </div>

    <div id="id_editor_messages" class="pull-left">
      

    </div>

    <div class="pull-right">
      <div id="id_editor_buttons_right" class="form-inline">
        <span id="id_save_error" class="pa_hidden alert alert-danger">Error saving.</span>
        <img src="/static/anywhere/images/spinner-small.gif" class="pa_hidden" id="id_save_spinner" />
        
          <span id="id_keyboard_shortcuts"><a href="#">Keyboard shortcuts:</a></span>
          <select id="id_keybinding_mode_select" class="form-control input-sm">
            <option value="normal">Normal</option>
            <option value="vim">Vim</option>
          </select>
        
        <button id="id_display_sharing_options" class="btn btn-default" data-toggle="modal" data-target="#id_file_sharing_modal" title="Get a URL to share this file">
          <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
          Share
        </button>
        
          <button id="id_save" class="btn btn-success" title="Save (Ctrl + S)">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            Save
          </button>
          <button id="id_save_as" class="btn btn-default" title="Save As">Save as...</button>
        
        

        
          
            <form class="reload_web_app" style="display: flex" method="POST" action="/user/DarkWebArtists/webapps/DarkWebArtists.pythonanywhere.com/reload">
              <button class="btn btn-default" type="submit" title="Reload DarkWebArtists.pythonanywhere.com">
                <i class="glyphicon glyphicon-refresh"></i>
              </button>
              <img style="display: none;" class="spinner" src="/static/anywhere/images/spinner-small.gif" />
              <div style="display: none; clear: both;" class="alert alert-danger error_message generic_error">
                There was a problem. If this keeps happening, please <a href="" class="feedback_link">send us feedback</a>.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message slow_startup_error">
                Your webapp took a long time to reload. It probably reloaded, but we were unable to check it.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message virtualenv_error">
                There is a problem with your virtualenv setup. Look at the <b>virtualenv</b> section on the web app tab for details.
              </div>
              <div style="display: none; clear: both;" class="alert alert-danger error_message cname_error">
                There is a problem with your DNS configuration. Take a look at the <b>DNS setup</b> section on the web app tab for details.
              </div>
            </form>
          
        
      </div>
    </div>

  </div>


    </div>

    <div class="dropdown fullscreen-hamburger fullscreen-mini-nav">
      <button type="button" class="navbar-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        
  <li class=""><a id="id_dashboard_link" href="/user/DarkWebArtists/">Dashboard</a></li>
  <li class=""><a id="id_consoles_link" href="/user/DarkWebArtists/consoles/">Consoles</a></li>
  <li class=""><a id="id_files_link" href="/user/DarkWebArtists/files/home/DarkWebArtists">Files</a></li>
  <li class=""><a id="id_web_app_link" href="/user/DarkWebArtists/webapps/">Web</a></li>
  <li class=""><a id="id_tasks_link" href="/user/DarkWebArtists/tasks_tab/">Tasks</a></li>
  <li class=""><a id="id_databases_link" href="/user/DarkWebArtists/databases/">Databases</a></li>


        <li class=""><a href="" class="feedback_link">Send feedback</a></li>
<li class=""><a href="/forums/" class="forums_link">Forums</a></li>
<li class=""><a href="https://help.pythonanywhere.com/" class="help_link">Help</a></li>
<li class=""><a href="https://blog.pythonanywhere.com/" class="blog_link">Blog</a></li>

  
  <li class=""><a href="/user/DarkWebArtists/account/" class="account_link">Account</a></li>
  <li class="">
    <form action="/logout/" method="POST">
      <input type='hidden' name='csrfmiddlewaretoken' value='cBm3gJu1FyA6FppwxbgSmZ38KKZXydOV30L5NBSyeluajYUXJIUX8glkjl69I42o' />
      <button type="submit" class="btn-link logout_link">Log out</button>
    </form>
  </li>


      </ul>
    </div>

  </nav>



        
    


        
  <div>
    <div id="id_ide_split_panes">

      
        <div id="id_editor">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
  &lt;head&gt;
    &lt;meta charset=&quot;utf-8&quot;&gt;
    &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1&quot;&gt;
    &lt;title&gt;Security Guard Portal&lt;/title&gt;
    &lt;meta name=&quot;description&quot; content=&quot;Free Bootstrap Theme by uicookies.com&quot;&gt;
    &lt;meta name=&quot;keywords&quot; content=&quot;free website templates, free bootstrap themes, free template, free bootstrap, free website template&quot;&gt;

    &lt;link href=&quot;https://fonts.googleapis.com/css?family=Raleway:300,400,500,700|Open+Sans&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;../static/css/styles-merged.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;../static/css/style.min.css&quot;&gt;
    &lt;link rel=&quot;stylesheet&quot; href=&quot;../static/css/custom.css&quot;&gt;
    &lt;link rel=&quot;shortcut icon&quot; href=&quot;{{ url_for(&#39;static&#39;, filename=&#39;favicon.ico&#39;) }}&quot;&gt;

    &lt;!--[if lt IE 9]&gt;
      &lt;script src=&quot;js/vendor/html5shiv.min.js&quot;&gt;&lt;/script&gt;
      &lt;script src=&quot;js/vendor/respond.min.js&quot;&gt;&lt;/script&gt;
    &lt;![endif]--&gt;
  &lt;/head&gt;
  &lt;body&gt;

    &lt;div class=&quot;probootstrap-search&quot; id=&quot;probootstrap-search&quot;&gt;
      &lt;a href=&quot;#&quot; class=&quot;probootstrap-close js-probootstrap-close&quot;&gt;&lt;i class=&quot;icon-cross&quot;&gt;&lt;/i&gt;&lt;/a&gt;
      &lt;form action=&quot;#&quot;&gt;
        &lt;input type=&quot;search&quot; name=&quot;s&quot; id=&quot;search&quot; placeholder=&quot;Search a keyword and hit enter...&quot;&gt;
      &lt;/form&gt;
    &lt;/div&gt;

    &lt;div class=&quot;probootstrap-page-wrapper&quot;&gt;
      &lt;!-- Fixed navbar --&gt;

      &lt;div class=&quot;probootstrap-header-top&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
          &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info&quot;&gt;
              &lt;span&gt;&lt;i class=&quot;icon-location2&quot;&gt;&lt;/i&gt;Medi-Caps University, AB Rd, Pigdamber, Rau, Indore, Madhya Pradesh 453331&lt;/span&gt;
              &lt;span&gt;&lt;i class=&quot;icon-phone2&quot;&gt;&lt;/i&gt;0731 425 9500&lt;/span&gt;
              &lt;span&gt;&lt;i class=&quot;icon-mail&quot;&gt;&lt;/i&gt;info@medicaps.ac.in&lt;/span&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-lg-3 col-md-3 col-sm-3 probootstrap-top-social&quot;&gt;
              &lt;ul&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-twitter&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-facebook2&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-instagram2&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-youtube&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;probootstrap-search-icon js-probootstrap-search&quot;&gt;&lt;i class=&quot;icon-search&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;nav class=&quot;navbar navbar-default probootstrap-navbar&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
          &lt;div class=&quot;navbar-header&quot;&gt;
            &lt;div class=&quot;btn-more js-btn-more visible-xs&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-dots-three-vertical &quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/div&gt;
            &lt;button type=&quot;button&quot; class=&quot;navbar-toggle collapsed&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#navbar-collapse&quot; aria-expanded=&quot;false&quot; aria-controls=&quot;navbar&quot;&gt;
              &lt;span class=&quot;sr-only&quot;&gt;Toggle navigation&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
              &lt;span class=&quot;icon-bar&quot;&gt;&lt;/span&gt;
            &lt;/button&gt;
            &lt;a class=&quot;navbar-brand&quot; href=&quot;{{url_for(&#39;home&#39;)}}&quot;  title=&quot;Medi-Caps University&quot;&gt;&lt;img src=&#39;../static/img/medicapslogo.png&#39; style=&#39;height:100%&#39;&gt;&lt;/a&gt;
          &lt;/div&gt;

          &lt;div id=&quot;navbar-collapse&quot; class=&quot;navbar-collapse collapse&quot;&gt;
            &lt;ul class=&quot;nav navbar-nav navbar-right&quot;&gt;
              &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;home&#39;)}}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
              &lt;li &gt;&lt;a href=&quot;{{url_for(&#39;adminlogin&#39;)}}&quot;&gt;Admin&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;dropdown&quot;&gt;
                    &lt;a href=&quot;#&quot; data-toggle=&quot;dropdown&quot; class=&quot;dropdown-toggle&quot;&gt;User&lt;/a&gt;
                    &lt;ul class=&quot;dropdown-menu&quot;&gt;
                    &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;studentlogin&#39;)}}&quot;&gt;Student&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;facultylogin&#39;)}}&quot;&gt;Faculty&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;driverlogin&#39;)}}&quot;&gt;Driver&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;{{url_for(&#39;guardlogin&#39;)}}&quot;&gt;Security Guard&lt;/a&gt;&lt;/li&gt;
                &lt;!--&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Contact&lt;/a&gt;&lt;/li&gt;--&gt;
                &lt;/ul&gt;

          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/nav&gt;

      &lt;section class=&quot;probootstrap-section probootstrap-section-colored&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
          &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-12 text-left section-heading probootstrap-animate&quot;&gt;
              &lt;h1&gt;Security Guard&lt;/h1&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/section&gt;

      &lt;section class=&quot;probootstrap-section&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
          &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-12&quot;&gt;
              &lt;div class=&quot;probootstrap-flex-block&quot;&gt;
                &lt;div class=&quot;probootstrap-text probootstrap-animate&quot;&gt;
                  &lt;div class=&quot;text-uppercase probootstrap-uppercase&quot;&gt;&lt;b&gt;Login&lt;/b&gt;&lt;/div&gt;

            &lt;div class=&quot;login-form&quot;&gt;

               &lt;form action=&quot;gulogin&quot; method=&quot;POST&quot;&gt;
                  &lt;div class=&quot;form-group&quot;&gt;
                     &lt;label&gt;User Name&lt;/label&gt;
                     &lt;input type=&quot;text&quot; class=&quot;form-control&quot; name=&quot;u1&quot; placeholder=&quot;User Name&quot;&gt;
                  &lt;/div&gt;
                  &lt;div class=&quot;form-group&quot;&gt;
                     &lt;label&gt;Password&lt;/label&gt;
                     &lt;input type=&quot;password&quot; class=&quot;form-control&quot; name=&quot;u2&quot; placeholder=&quot;Password&quot;&gt;
                  &lt;/div&gt;
                  {% if error %}
                &lt;p style=&quot;color:red&quot;&gt;&lt;strong&gt;&lt;/strong&gt; {{ error }}&lt;/p&gt;&lt;br&gt;
                {% endif %}
                  &lt;input type=&quot;submit&quot; class=&quot;btn btn-black&quot; value=&quot;Login&quot;&gt;

               &lt;/form&gt;
            &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class=&quot;probootstrap-image probootstrap-animate&quot; style=&quot;background-image: url(../static/img/slider_3.jpg)&quot;&gt;
                  &lt;a href=&quot;https://www.youtube.com/watch?v=C1lhrwPxuHo&quot; class=&quot;btn-video popup-vimeo&quot;&gt;&lt;i class=&quot;icon-play3&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/section&gt;


      &lt;section class=&quot;probootstrap-cta&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
          &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-12&quot;&gt;
              &lt;h2 class=&quot;probootstrap-animate&quot; data-animate-effect=&quot;fadeInRight&quot;&gt;Get your admission now!&lt;/h2&gt;
              &lt;a href=&quot;#&quot; role=&quot;button&quot; class=&quot;btn btn-primary btn-lg btn-ghost probootstrap-animate&quot; data-animate-effect=&quot;fadeInLeft&quot;&gt;Enroll&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/section&gt;
      &lt;footer class=&quot;probootstrap-footer probootstrap-bg&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
          &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-md-4&quot;&gt;
              &lt;div class=&quot;probootstrap-footer-widget&quot;&gt;
                &lt;h3&gt;About The University&lt;/h3&gt;
                &lt;p&gt;Medi-Caps University is a premier central Indian engineering and management institute. Medi-Caps Institute of Technology and Management began in July 2000 with a vision to design future scientifically.&lt;/p&gt;
                &lt;h3&gt;Social&lt;/h3&gt;
                &lt;ul class=&quot;probootstrap-footer-social&quot;&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-twitter&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-facebook&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-github&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-dribbble&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-linkedin&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon-youtube&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-md-3 col-md-push-1&quot;&gt;
              &lt;div class=&quot;probootstrap-footer-widget&quot;&gt;
                &lt;h3&gt;Links&lt;/h3&gt;
                &lt;ul&gt;
                  &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;home&#39;)}}&quot;&gt;Home&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;adminlogin&#39;)}}&quot;&gt;Admin&lt;/a&gt;&lt;/li&gt;
                  &lt;li class=&quot;dropdown&quot;&gt;
                    &lt;a href=&quot;#&quot; data-toggle=&quot;dropdown&quot; class=&quot;dropdown-toggle&quot;&gt;User&lt;/a&gt;
                    &lt;ul class=&quot;dropdown-menu&quot;&gt;
                    &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;studentlogin&#39;)}}&quot;&gt;Student&lt;/a&gt;&lt;/li&gt;
                    &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;facultylogin&#39;)}}&quot;&gt;Faculty&lt;/a&gt;&lt;/li&gt;
                    &lt;/ul&gt;
                &lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;guardlogin&#39;)}}&quot;&gt;Security Guard&lt;/a&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;a href=&quot;{{url_for(&#39;driverlogin&#39;)}}&quot;&gt;Driver&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-md-4&quot;&gt;
              &lt;div class=&quot;probootstrap-footer-widget&quot;&gt;
                &lt;h3&gt;Contact Info&lt;/h3&gt;
                &lt;ul class=&quot;probootstrap-contact-info&quot;&gt;
                  &lt;li&gt;&lt;i class=&quot;icon-location2&quot;&gt;&lt;/i&gt; &lt;span&gt;Medi-Caps University, AB Rd, Pigdamber, Rau, Indore, Madhya Pradesh 453331&lt;/span&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;i class=&quot;icon-mail&quot;&gt;&lt;/i&gt;&lt;span&gt;info@medicaps.ac.in&lt;/span&gt;&lt;/li&gt;
                  &lt;li&gt;&lt;i class=&quot;icon-phone2&quot;&gt;&lt;/i&gt;&lt;span&gt;+0731 425 9500&lt;/span&gt;&lt;/li&gt;
                &lt;/ul&gt;
              &lt;/div&gt;
            &lt;/div&gt;

          &lt;/div&gt;
          &lt;!-- END row --&gt;

        &lt;/div&gt;

        &lt;div class=&quot;probootstrap-copyright&quot;&gt;
          &lt;div class=&quot;container&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
              &lt;!-- &lt;div class=&quot;col-md-8 text-left&quot;&gt;
                &lt;p&gt;&amp;copy; 2017 &lt;a href=&quot;https://uicookies.com/&quot;&gt;uiCookies:Enlight&lt;/a&gt;. All Rights Reserved. Designed &amp;amp; Developed with &lt;i class=&quot;icon icon-heart&quot;&gt;&lt;/i&gt; by &lt;a href=&quot;https://uicookies.com/&quot;&gt;uicookies.com&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt; --&gt;
              &lt;div class=&quot;col-md-4 probootstrap-back-to-top&quot;&gt;
                &lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;js-backtotop&quot;&gt;Back to top &lt;i class=&quot;icon-arrow-long-up&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/footer&gt;

    &lt;/div&gt;
    &lt;!-- END wrapper --&gt;


    &lt;script src=&quot;../static/js/scripts.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;../static/js/main.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;../static/js/custom.js&quot;&gt;&lt;/script&gt;

  &lt;/body&gt;
&lt;/html&gt;</div>
      

      <div id="id_ide_console">
        
          <div id="id_ide_console_pane_buttons">
            <center>
              
                <p>This is not a Python file, you can't run it here.</p>
              
            </center>
          </div>
          <iframe style="display: none" id="id_console" name="console" class="soft_keyboard_sensitive">
          </iframe>
          <div style="display: none;" class="console_limit_reached">
            <div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-3 well">
            <h1>Console limit reached :-/</h1>

            <p>
            With your current PythonAnywhere account you can have up to
            2 consoles.  You can
            have more if you
            <a href="/user/DarkWebArtists/account/">upgrade your account</a>!

            <p>
            Alternatively, if you don't feel like paying us more money, you
            can <a href="/user/DarkWebArtists/consoles/">kill some consoles on your Consoles page</a>.
        </div>
    </div>
</div>


          </div>
        
      </div>

    </div>

    <div id="id_go_to_line_dialog" class="pa_hidden">
      <p class="form-inline">Line number: <input id="id_go_to_line_dialog_input" /></p>
      <div class="dialog_buttons">
        <button class="btn btn-default" id="id_go_to_line_dialog_ok_button">Go</button>
        <button class="btn btn-default" id="id_go_to_line_dialog_close_button">Close</button>
      </div>
    </div>

    <div id="id_file_changed_on_disk" class="pa_hidden">
      <p>Are you sure you want to save it?  Alternatively, you could re-open it in a new tab to check differences</p>
      <div class="dialog_buttons">
        <button id="id_force_save" class="btn btn-danger">Force Save</button>
        <button id="id_cancel_save" class="btn btn-default">Cancel</button>
      </div>
    </div>

    <div id="id_save_as_dialog" class="pa_hidden">
      <form class="form-inline">
        <div class="form-group">
          <label for="id_save_as_path">Please enter a path:</label>
          <input id="id_save_as_path" class="form-control" style="width: 100%;" />
        </div>
        <img id="id_save_as_spinner" class="spinner pa_hidden" src="/static/anywhere/images/spinner-small.gif" />
        <p>
          <span id="id_save_as_error" class="error_message"></span>
        </p>
        <div class="dialog_buttons">
          <button id="id_save_as_ok" type="submit" class="btn btn-primary">Save</button>
          <button id="id_save_as_cancel" type="button" class="btn btn-default">Cancel</button>
        </div>
      </form>
    </div>

    <div class="modal fade" id="id_file_sharing_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">File Sharing options</h4>
          </div>
          <div class="modal-body">
            <div id="id_file_sharing_options"></div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>


        
      </div>

        


        <div id="id_feedback_dialog" title="Help us improve" style="display:none">
    <div id="id_feedback_dialog_blurb_big" class="dialog_blurb_big">
        It's always a pleasure to hear from you!
    </div>
    <div id="id_feedback_dialog_blurb_small">
        Ask us a question, or tell us what you love or hate about PythonAnywhere.<br/>
        We'll get back to you over email ASAP.
    </div>
    <textarea id="id_feedback_dialog_text" rows="6"></textarea>
    <input id="id_feedback_dialog_email_address" type="text" placeholder="Email address (optional - only necessary if you would like us to contact you)"/>
    
    <div id="id_feedback_dialog_error" class="pa_hidden">
        Sorry, there was an error connecting to the server. <br/>Please try again in a few moments...
    </div>
    <div class="dialog_buttons">
        <img id="id_feedback_dialog_spinner" src="/static/anywhere/images/spinner-small.gif" />
        <button class="btn btn-primary" id="id_feedback_dialog_ok_button">OK</button>
        <button class="btn btn-default" id="id_feedback_dialog_cancel_button">Cancel</button>
    </div>
</div>


        
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-18014859-6', 'auto');
                ga('send', 'pageview');
            </script>
        

        
        <!-- preload font awesome fonts to avoid glitch when switching icons -->
        <div style="width: 0; height: 0; overflow: hidden"><i class="fa fa-square-o fa-3x" ></i></div>
    </body>
</html>
